/* general styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Rose', cursive;
}

body{
    background-image: url("./src/bg.png");
    background-attachment: fixed;
    background-size: cover;
}

/* Designing the header */
header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 1.5rem;
}

header #logo{
    height: 2rem;
    cursor: pointer;
}

/* styling the nav bar */
header nav{
    display: flex;
    column-gap: 20px;
    justify-self: center;
    font-weight: 600;
}

header nav a{
    text-decoration: none;
    color: #ffc233;
}


/* styling the call-to-action button */
header>a{
    text-decoration: none;
    justify-self: end;
    padding: 4px;
    width: 5rem;
    background-color: #ff505f;
    color: white;
    text-align: center;
}

/* designing the main section */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

main h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 3rem;
    width: 50%;
    text-align: center;
    color: #ffc233;
}

main a{
    text-decoration: none;
    justify-self: end;
    margin-top: 20px;
    padding: 8px;
    width: 10rem;
    background-color: #ff505f;
    color: white;
    text-align: center;
}

main img[alt="scrool"]{
    height: 8rem;
    align-self: flex-end;
}